.user-title {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.now-user {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.user-health, 
.user-feedback, 
.user-medication {
    all: unset;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;                 /* 아이콘과 텍스트 간격 */
    background-color: #ff7f00;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 700;
    position: relative;
    width: 300px;
    height: 100px;
    text-align: center;
}

.user-health { margin-top: 50px; }
.user-feedback { margin-top: 20px; }
.user-medication { margin-top: 20px; }