.checkfig-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.image {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.text-wrapper {
    text-align: center;
}

.data-graphs {
    border: 1px solid black;
    width: 1300px;
    height: 500px;
    margin: 30px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
}

.data-graphs .q1,
.data-graphs .q3 {
    border-right: 1px solid #000;
}

/* 테이블 기본 스타일 */
.goal-table {
    border-collapse: collapse;
}

.goal-table td {
    padding: 5px 5px;
    vertical-align: middle;
    box-sizing: border-box;
}


.goal-icons .icon {
  font-size: 22px;
  line-height: 1;
}

.q2-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    position: relative;
}

.today {
    position: absolute;
    top: -40px;
    left: 150px;
}

.all {
    position: absolute;
    top: -40px;
    right: 130px;
}

/* react-chartjs-2가 만드는 canvas 크기 제한 */
.q2-inner canvas {
    width: 150px !important;
    height: 150px !important;
    max-width: 150px !important;
    max-height: 150px !important;
}

/* ------------------------------
   좌측 하단 (q3) 전용 스타일
   ------------------------------ */
.quadrant.q3{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.q3-inner{
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.small-icon-btn{
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 90px;           /* 버튼 열 너비 */
    height: 10px;           /* 버튼 높이 */
    font-size: 35px;
    box-sizing: border-box;
}

/* 미니 차트 영역 */
.mini-chart{
    width: 300px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    position: relative;
    left: 180px;
    background: #fff;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #efefef;
    overflow: hidden;
}

.data-graphs .q1,
.data-graphs .q2 {
    border-bottom: 1px solid #000;
}