.feedback-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.feedback-score{
    margin-top: 100px;
    font-weight: 800;
    font-size: 45px;
    color: #0b614b; /* 제목 색 */
    text-align: center;
    transition: transform 1s cubic-bezier(.22,.9,.32,1), color 1s ease;
    will-change: transform;
}

.feedback-container.expanded .feedback-score {
    transform: translateY(-25px); /* 살짝 올라가는 거리, 필요시 값 조정 */
}

.feedback-message-box{
    border: 2px solid #000;
    border-left: none;
    cursor: pointer;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 90px;
    box-sizing: border-box;
    position: relative; /* 삼각형 절대배치 기준 */
    transition: height 2s, transform 1s ease, padding 1s ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
    transform: translateY(0);
}

.feedback-message-box.expanded {
    transform: translateY(-120px);
}

.triangle-marker {
    position: absolute;
    left: -50px; /* 삼각형의 가로 위치(박스 바깥으로) - 필요시 조정 */
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 40px solid transparent;    /* 삼각형 높이 조정 */
    border-bottom: 40px solid transparent;
    border-left: 65px solid steelblue;      /* 색상/폭 조정 */
    margin-left: 0;
    transition: transform 1s ease;
}

.triangle-marker.down {
    transform: translateY(-50%) rotate(90deg);
}

.feedback-message {
    color: dodgerblue;
    font-weight: 800;
    font-size: 45px;
    user-select: text;
}

.transform-frame {
    width: 800px;
    height: 0;
    border: 2px solid transparent;
    transition: height 2s, transform 1s ease, padding 1s ease;;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
    transform: translateY(0);
    will-change: height, transform, padding;
    pointer-events: none;
}

.transform-frame.active {
    height: 400px;
    border: 2px solid #000;
    transform: translateY(-110px); /* feedback-message-box.expanded의 translateY와 동일하게 맞춤 */
    pointer-events: auto;
}

.share-btn {
    all: unset;
    color: dodgerblue;
    cursor: pointer;
    font-weight: 800;
    font-size: 45px;
    position: relative;
    left: 500px;
}