.feedback-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.feedback-score{
    margin-top: 100px;
    font-weight: 800;
    font-size: 45px;
    color: #0b614b; /* 제목 색 */
    text-align: center;
}

.feedback-message-box{
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    width: 1100px;
    height: 100px;
    box-sizing: border-box;
}