.close-btn {
    all: unset;
    cursor: pointer;
    background-color: #ff7f00;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    width: 200px;
    height: 80px;
    margin-top: 60px;
    margin-left: 900px;
}

.feedback-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.feedback-score{
    font-weight: 800;
    font-size: 45px;
    color: #0b614b; /* 제목 색 */
    text-align: center;
    transition: transform 1s cubic-bezier(.22,.9,.32,1), color 1s ease;
    will-change: transform;
}

.feedback-container.expanded .feedback-score {
    transform: translateY(-55px); /* 살짝 올라가는 거리, 필요시 값 조정 */
}

.feedback-message-box{
    border: none;
    cursor: pointer;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 90px;
    box-sizing: border-box;
    position: relative; /* 삼각형 절대배치 기준 */
    transition: height 2s, transform 1s ease, padding 1s ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
    transform: translateY(0);
}

.feedback-message-box.expanded {
    transform: translateY(-150px);
}

.triangle-marker {
    position: absolute;
    left: -50px; /* 삼각형의 가로 위치(박스 바깥으로) - 필요시 조정 */
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 30px solid transparent;    /* 삼각형 높이 조정 */
    border-bottom: 30px solid transparent;
    border-left: 50px solid steelblue;      /* 색상/폭 조정 */
    margin-left: 0;
    transition: transform 1s ease;
}

.triangle-marker.down {
    transform: translateY(-50%) rotate(90deg);
}

.feedback-message {
    color: dodgerblue;
    font-weight: 800;
    font-size: 30px;
    user-select: text;
}

.transform-frame {
    width: 800px;
    height: 0;
    overflow: hidden;
    border: 2px solid transparent;
    transition: height 2s, transform 1s ease, padding 1s ease;;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
    transform: translateY(0);
    will-change: height, transform, padding;
    pointer-events: none;
}

.transform-emoji {
    font-size: 30px;
    margin-left: 70px;
}

.transform-frame.active {
    height: 400px;
    border: 2px solid #000;
    transform: translateY(-150px); /* feedback-message-box.expanded의 translateY와 동일하게 맞춤 */
    pointer-events: auto;
}

.dashboard-btn {
    all: unset;
    align-items: center;
    cursor: pointer;
    padding: 20px 350px;
    position: relative;
    margin: 0;
}

.share-btn {
    all: unset;
    color: dodgerblue;
    cursor: pointer;
    font-weight: 800;
    font-size: 45px;
    position: relative;
    left: 500px;
}