.mediinfo-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.mediinfo-close {
    all: unset;
    cursor: pointer;
    background-color: #ff7f00;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    width: 100px;
    height: 60px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.mediInfo {
    background-color: lightgray;
    border-radius: 20px;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    position: relative;
    top: 80px;
    right: 380px;
}

.mediinfo-text {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}