.mediinfo-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.mediinfo-close {
    all: unset;
    cursor: pointer;
    background-color: #ff7f00;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    width: 100px;
    height: 60px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.mediInfo {
    background-color: lightgray;
    border-radius: 20px;
    box-sizing: border-box;
    width: 1300px;
    height: 800px;
    position: relative;
    top: 80px;
    right: 100px;
}

.medi-list{
    font-size: 20px;
    padding: 10px 10px;
}

.medi-delete{
    font-size: 20px;
    padding: 10px 30px;
    
}

.medi-list table {
  width: 100%;
  border-collapse: collapse;
}

.medi-list th, 
.medi-list td {
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

.pill-main-usage {
  color: #444;
  margin-bottom: 4px;
}

.pill-warning {
  color: #d32f2f;
  font-weight: 500;
}

.medi-name{
    font-size: 25px;
}
