.image {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.image .deep-stream {
    height: auto;
    width: 300px;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.health {
    all: unset;
    align-items: center;
    background-color: #ff7f00;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
    width: 300px;
    height: 80px;
}

.medication {
    all: unset;
    align-items: center;
    background-color: #ff7f00;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 220px;
    width: 300px;
    height: 80px;
}